html, body, #game-container, .canvas-container {
	width:100vw;
	height:100vh;
	overflow-x:hidden;
	overflow-y:hidden;
	margin:0;
	padding:0;
	transform-origin: top left;
	position: relative;
	background-color: black;
}

* {
	font-family: 'Press Start 2P', cursive;
}

.canvas-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.screen {
	position:fixed;
	width: 100vw;
	height: 100vh;
	background-color: black;
	top:0;
	left:0;
	z-index: 10;
}

.menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

button {
	background:none;
	border:none;
	color:white;
	margin: 50px;
	font-size: 2em;
	cursor: pointer;
}

canvas {
	image-rendering: pixelated;
}

.hud {
	position: absolute;
	top:0;
	left:0;
	height: 100vh;
	width: 100vw;
	z-index: 1;
}

.health, .score{
	color:white;
}
