html, body, #game-container, .canvas-container {
	width:100vw;
	height:100vh;
	overflow-x:hidden;
	overflow-y:hidden;
	margin:0;
	padding:0;
	font-family: 'Press Start 2P', cursive;
	transform-origin: top left;
}

canvas {
	image-rendering: pixelated;
}